fastapi
pandas
scikit-learn==1.4.0
uvicorn
fastapi-sqlalchemy 
pydantic
pydantic[email]
alembic 
psycopg2-binary
python-dotenv
alembic
python-multipart
python-jose[cryptography]
bcrypt
fastapi-mail
mailjet_rest
xgboost